/* styles.css

/* General styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}




 
/* Login Page styling */
.login-container , .register-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.login-container h1,.register-container h1 {
    margin-bottom: 20px;
}

.login-container input, .register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-container button,.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container button:hover, .register-container button:hover {
    background-color: #45a049;
}

/* Student Table Page styling */

.students-container {
    padding: 20px;
  }
  
  .student-header {
    background-color: #247dad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

.student-table-container {
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.student-table-container h1 {
    margin-bottom: 20px;
}

.student-table-container button {
    margin-bottom: 30px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.student-table-container button:hover {
    background-color: #45a049;
}

.student-table-container table {
    width: 100%; /* Increase the table width to 100% */
    max-width: 1200px; /* Add a maximum width to the table */
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
}

.student-table-container th, .student-table-container td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.student-table-container th {
    background-color: #f2f2f2;
}

.student-table-container form {
    margin-top: 20px;
}

.student-table-container form input {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.student-table-container svg  {
    align-content: center;
    padding-left: 30px;
    color:#2430ad
}
.student-table-container svg:hover  {
    color:#d7220a
}

/*  logout button */
.logout-button {
    position: fixed;  /* Make it fixed at a specific position */
    top: 60px;        /* Position from the top */
    right: 20px;      /* Position from the right */
    background-color: #dc3545;  /* Red background color */
    color: white;           /* White text */
    padding: 10px 20px;      /* Padding for button */
    border: none;           /* Remove border */
    border-radius: 5px;     /* Rounded corners */
    font-size: 16px;        /* Text size */
    cursor: pointer;       /* Pointer cursor on hover */
  }
  
  .logout-button:hover {
    background-color: #c82333;  /* Darker red on hover */
  }
  
  .logout-button:focus {
    outline: none;   /* Remove focus outline */
  }
    
   
